// Login Form for React component: components/LoginForm.js

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  input {
    $height: 20px;
    max-width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    height: $height;
    line-height: $height;
    font-size: $height;
    border-bottom: solid 2px $received-message-color;
    transition: all 0.23s ease-in;
    &:focus {
      $height: 30px;
      border-bottom: solid 2px $primary-color-light;
      outline: none;
    }
  }
  .error {
    text-align: center;
    margin: 5px 0;
    padding: 5px 10px;
    color: $error-text;
  }
}
